@import "http://fonts.googleapis.com/css?family=Gentium+Basic:700";
body {
  background: white url("_/img/bg-sinds82.png") repeat-x left top;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 0.8em; } }
  @media screen and (min-width: 1280px) {
    body {
      font-size: 1.2em; } }

a {
  color: #111777; }

ul.internal-links li a {
  color: #b40000; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  padding: 0; }

p {
  margin: 0 0 1em 0; }

hr {
  margin: 1.5em 0; }

blockquote {
  margin: 0;
  border-left: 3px solid #ededed;
  padding-left: 1.5em;
  font-style: italic; }

p.wp-caption-text {
  font-style: italic;
  font-size: 12px !important;
  font-weight: 300;
  color: #888; }

#page-wrap {
  width: 960px;
  padding-top: 30px;
  margin: 0 auto; }
  @media screen and (max-width: 960px) {
    #page-wrap {
      width: auto;
      max-width: 665px; } }
  @media screen and (max-width: 480px) {
    #page-wrap {
      width: auto;
      margin: 0; } }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    #page-wrap {
      background: url("_/img/bg-sinds82.png") repeat-x left top;
      background-color: #fff;
      background-size: 1px 20px;
      font-size: 1.2em; } }

#header {
  font-weight: 300;
  padding: 30px 20px 30px 175px;
  margin-bottom: 1em; }
  @media screen and (max-width: 960px) {
    #header {
      padding: 0px 0px 10px 0; } }
  #header h1 {
    font-family: 'Gentium Basic', serif;
    font-weight: 700;
    margin: 0 0 0 -122px;
    width: 400px;
    height: 100px; }
    @media screen and (min-width: 1280px) {
      #header h1 {
        width: 600px; } }
    @media screen and (max-width: 960px) {
      #header h1 {
        margin: 0;
        width: auto;
        height: auto; } }
    #header h1 a {
      color: #333;
      text-decoration: none;
      font-size: 1.6em;
      display: block;
      background: url("_/img/logo.png") no-repeat left top;
      padding: 20px 0 20px 120px; }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        #header h1 a {
          background: url("_/img/logo_2x.png") no-repeat 0px 21px;
          background-size: 100px 100px; } }
      @media screen and (max-width: 960px) {
        #header h1 a {
          background: none;
          padding: 20px 0 20px 20px;
          color: #b40000; } }
  #header div.description {
    margin-top: -25px; }
    @media screen and (min-width: 1280px) {
      #header div.description {
        margin-top: 0;
        padding-top: 0,4em; } }
    @media screen and (max-width: 960px) {
      #header div.description {
        padding-left: 20px; } }
    #header div.description a.link-over {
      color: #b40000; }

#content {
  padding: 0 120px 0 40px;
  border-left: 1px dashed #999;
  margin-left: 175px;
  font-weight: 300;
  letter-spacing: 0.07em;
  line-height: 1.4em; }
  @media screen and (max-width: 960px) {
    #content {
      padding: 0 20px 0 0px;
      margin-left: 20px;
      border-left: none; } }
  @media screen and (max-width: 480px) {
    #content {
      padding: 0 20px 0 0; } }
  #content .wp-caption {
    width: 100% !important;
    height: auto !important;
    overflow: hidden; }
  #content .post, #content .page {
    position: relative;
    margin-bottom: 3em; }
    #content .post p.post-home-lees-verder a, #content .page p.post-home-lees-verder a {
      color: #b40000; }
    #content .post img, #content .page img {
      border: 2px solid #fff;
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
      width: 100%;
      max-width: 620px;
      height: auto; }
    #content .post img.space-ab, #content .page img.space-ab {
      margin: 2em 0; }
    #content .post .the_date, #content .page .the_date {
      position: absolute;
      left: -195px;
      top: 1px;
      font-size: 12px !important;
      font-style: italic; }
      #content .post .the_date a, #content .page .the_date a {
        color: #999;
        text-decoration: none; }
      @media screen and (max-width: 960px) {
        #content .post .the_date, #content .page .the_date {
          display: none; } }
    #content .post .permalink, #content .page .permalink {
      position: absolute;
      left: -98px;
      top: 0; }
      @media screen and (max-width: 960px) {
        #content .post .permalink, #content .page .permalink {
          display: none; } }
      #content .post .permalink a, #content .page .permalink a {
        color: #999; }
    #content .post h2, #content .page h2 {
      margin: 0 0 0.5em 0; }
    #content .post .via a, #content .page .via a {
      color: #111777; }
  #content .post.rl-post-entry h2, #content .post.rl-post-entry h1, #content .page.rl-post-entry h2, #content .page.rl-post-entry h1 {
    font-size: 1.5em;
    line-height: 1.1em; }
    #content .post.rl-post-entry h2 a, #content .post.rl-post-entry h1 a, #content .page.rl-post-entry h2 a, #content .page.rl-post-entry h1 a {
      color: #b40000;
      text-decoration: none; }
  #content .post.rl-post-entry p.post-quote, #content .page.rl-post-entry p.post-quote {
    font-style: italic;
    font-weight: normal; }
  #content .post.rl-post-entry .the_date, #content .page.rl-post-entry .the_date {
    font-size: 12px !important; }
  #content .post.rl-post-entry .the_date_single, #content .page.rl-post-entry .the_date_single {
    font-size: 1em;
    font-style: italic;
    color: #777; }
  #content .post.rl-linked-entry h2, #content .post.rl-linked-entry h1 {
    font-size: 1em;
    font-weight: bold;
    font-style: italic; }
    #content .post.rl-linked-entry h2 a, #content .post.rl-linked-entry h1 a {
      color: #111777; }
  #content .post.rl-linked-entry .the_date_single {
    font-size: 12px !important;
    font-style: italic; }

.single-post #content, .page #content {
  padding: 40px 120px 0 0px;
  border-left: none; }
  @media screen and (max-width: 960px) {
    .single-post #content, .page #content {
      padding: 20px 20px 0 0; } }
  @media screen and (max-width: 480px) {
    .single-post #content, .page #content {
      padding: 20px 20px 0 0; } }
.single-post .post, .page .post {
  position: relative; }
  .single-post .post h1, .page .post h1 {
    margin-bottom: 0.5em; }
  .single-post .post .fb-like, .page .post .fb-like {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px dashed #999; }

p#go-to-index {
  position: absolute;
  left: -90px;
  top: 0px; }
  p#go-to-index a {
    font-size: 2em;
    color: #666;
    text-decoration: none;
    display: block;
    padding: 12px 10px;
    background-color: #e9e9e9; }
    p#go-to-index a:hover {
      color: #fff;
      background-color: #b40000; }
  @media screen and (max-width: 960px) {
    p#go-to-index {
      display: none; } }

div.navigation {
  height: 24px;
  position: relative; }
  div.navigation .next-posts {
    position: absolute;
    left: 0;
    top: 0; }
  div.navigation .prev-posts {
    position: absolute;
    right: 0;
    top: 0; }
  div.navigation a {
    color: #b40000; }

#footer {
  margin-top: 3em;
  border-top: 1px solid #dedede;
  padding: 3em 0 3em 175px;
  font-size: 0.8em; }
  #footer .footer-body {
    margin-bottom: 2em; }
  #footer a.go-me, #footer a.go-home {
    color: #b40000; }
  @media screen and (max-width: 960px) {
    #footer {
      padding: 3em 1em; } }
